{% extends "base.html" %}
{% load i18n %}

{% block content %}
        <h1>{{ repo.name }}</h1>

        <h2>{{ changeset }}</h2>

        <h3>{{ node.path }}</h3>

        {% if node.is_dir %}
        <table>
            <caption>{% trans "Content" %}</caption>
            <thead>
                <th>{% trans "Name" %}</th>
                <th>{% trans "Size" %}</th>
            </thead>
            <tbody>

            {% if node.parent %}
            <tr>
                <td><a href="{% url webvcs_node_detail changeset.id node.parent.path %}">..</a></td>
                <td>-</td>
            </tr>
            {% endif %}                    

            {% for item in node.nodes %}
            {% if item.is_dir %}
            <tr>
                <td><a href="{% url webvcs_node_detail changeset.id item.path %}"
                       class="node node-dir">{{ item }}</a>
                </td>
                <td>-</td>
            </tr>
            {% else %}
            <tr>
                <td><a href="{% url webvcs_node_detail changeset.id item.path %}"
                       class="node node-file">{{ item }}</a>
                </td>
                <td>{{ item.size|filesizeformat }}</td>
            </tr>
            {% endif %}            
            {% endfor %}

            </tbody>
        </table>
        {% endif %}

        {% if node.is_file %}
        <a href="{% url webvcs_node_raw node.changeset.id node.path %}">{% trans "Raw file" %}</a>
            {% if node.is_binary %}
            <div class="msg msg-warn">
                <p>Is binary</p>
            </div>
            {% else %}
            <pre class="code-block">{{ node.content }}</pre>
            {% endif %}
        {% endif %}
{% endblock %}
